/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* reset end */

@font-face {
  font-family: ROBOTO;
  src: url(./fonts/Roboto-Regular.ttf);
}

html {
  font-family: Arial, Helvetica, sans-serif, system-ui;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sidebar {
  background-color: #2283f4;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 53px;
  align-items: center;
  color: white;
  font-weight: 900;
  font-size: 1.3rem;
}

.sidebar>* {
  display: grid;
  grid-template-columns: 15% 85%;
  margin-left: 9%;
}

.sidebar-buttons svg {
  width: 30px;
  fill: whitesmoke;
}

.dashboard-logo {
  margin-left: 5.2%;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 18% 82%;
  align-items: center;

  span {
    font-size: 1.6rem;
  }

  svg {
    width: 60px;
    height: 60px;
  }
}

/* content styling */
.content {
  display: grid;
  grid-template-rows: 17% 85%;
  color: black;
  font-weight: 500;
}

.header {
  box-shadow: 8px 2px 20px 0px gray;
  z-index: 1;
  display: grid;
  grid-template-rows: 35% 75%;
}

.header>* {
  img {
    width: 70px;
    border-radius: 90%;
  }

  svg {
    width: 40px;
  }
}

.top-container {
  background-color: pink;
  display: grid;
  grid-template-columns: 5fr 3fr;
  align-items: center;
  align-content: center;
}

.search-bar {
  display: grid;
  grid-template-columns: 8% 90%;
  grid-template-rows: 1fr;
  height: 20%;
  align-items: center;
  align-content: center;
  margin-left: 80px;
}

.account {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  align-items: center;
  align-content: center;
  justify-items: center;
}



.main-content {
  background-color: lightgray;
}
